.image_wrap {
    float: left;
    margin-top: 10px;
    padding-bottom: 30px;
    position: relative;
    width: 100%;
}

.inner-panel {
    background: #ffffff none repeat scroll 0 0;
    float: left;
    margin: 30px 0;
    padding: 20px;
}

.theme_content {
    float: left;
    position: relative;
    width: 100%;
}

.mega_menu_wrap.about-wrap .notice,
.mega_menu_wrap.about-wrap div.error,
.mega_menu_wrap.about-wrap div.updated {
    display: block !important;
}

.activate_licence {
    float: left;
    width: 100%;
}

.theme_export_note {
    color: #e63030;
}

.about-wrap .bgframe {
    border: 5px solid rgba(0, 0, 0, 0.1);
}

.about-wrap .bgframe.selected {
    border: 5px solid #1abcb0;
}

.bgframe {
    background-size: 100% auto;
    display: block;
    float: left;
    height: 300px;
    max-height: 100%;
    position: relative;
}

.bgframe:hover span.scroll_image {
    background-position: center bottom;
}

.bgframe span.scroll_image {
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100% auto;
    top: 0;
    height: 300px;
    position: absolute;
    transition: all 5s ease-out 0s;
    width: 100%;
}

.button.secondary.upload_image {
    margin-top: 10px;
}

.about-wrap .theme_info_right img {
    border: none;
}

.image_wrap img {
    float: left;
    max-width: 100%;
    height: auto;
}

.remove-image:hover {
    color: #ff0000;
}

#vedanta_add_sidebar_form::before {
    clear: both;
    content: "";
    display: block;
}

.delete-sidebar {
    background: rgba(0, 0, 0, 0) url("../images/ico-delete.png") no-repeat scroll center center;
    display: block;
    height: 20px;
    position: absolute;
    right: 50px;
    text-indent: -99999px;
    top: 13px;
    width: 20px;
}

#vedanta_add_sidebar_form {
    background: #fcfcfc none repeat scroll 0 0;
    border: 1px solid #dfdfdf;
    border-radius: 3px;
    margin: 20px 0;
    padding: 10px 15px;
    text-align: center;
}



/* Style the buttons that are used to open and close the accordion panel */

#choose-shortcode button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}



/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */

#choose-shortcode button.accordion.active,
button.accordion:hover {
    background-color: #ddd;
}

.shortcode_inner code {
    overflow-wrap: break-word;
}

.about-wrap .feature-section .col:nth-child(3n+1) {
    clear: both;
}

.about-wrap i11_support h2 {
    text-align: left;
    font-size: 1.7em;
}

#choose-shortcode button.accordion:after {
    content: '\02795';
    /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

#choose-shortcode button.accordion.active:after {
    content: "\2796";
    /* Unicode character for "minus" sign (-) */
}

.element-icon {
    border: 1px solid #eeeeee;
    float: left;
    font-size: 20px;
    height: 21px;
    margin: 5px;
    padding: 16px;
    width: 21px;
}

.primary.button.select_icon {
    margin-top: 5px;
}

.cat_block {
    border: 1px solid #eeeeee;
    box-sizing: border-box;
    margin-bottom: 10px;
    padding: 10px;
    float: left;
    width: 100%;
}

.drag_icon div {
    background-color: #555555;
    height: 3px;
    margin: 3px 0;
    width: 25px;
}

.element-icon {
    cursor: pointer;
}

.theme_info_left {
    float: left;
    margin-right: 4%;
    width: 39%;
}

.theme_info_right {
    border: 1px solid #dddddd;
    box-sizing: border-box;
    float: left;
    max-height: 600px;
    max-width: 57%;
    overflow: hidden;
}

.theme_info {
    margin: 50px 0;
}

.theme_info .button,
.start_install .install_demo {
	line-height: 30px;
	padding: 0 12px;
	height: 30px;
	background: #1abcb0;
	color: #fff;
	border: none;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	text-shadow: none;
	-webkit-transition: .1s linear all;
	-moz-transition: .1s linear all;
	-ms-transition: .1s linear all;
	-o-transition: .1s linear all;
	transition: .1s linear all;
}

.theme_info .button:hover,
.start_install .install_demo:hover {
	background-color: #16a096;
	color: #fff;
}

.about-wrap .point-releases {
    border-bottom: 0;
}

.about-wrap .changelog {
    display: inline-block;
    margin-bottom: 40px;
    float: left;
    width: 100%;
}

.about-wrap .nav-tab-wrapper a:focus {
    box-shadow: none;
    -webkit-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
}

.feature-section.three-col .svg- {
    min-height: 190px;
}

.about-wrap .feature-section .shortcode_inner {
    background-color: #E1E1E3;
    padding: 2px 15px;
    min-height: 200px;
}

.auto-install-loader {
    background-color: rgba(0, 0, 0, 0.9);
    background-image: url("../images/loading.gif");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 52px 52px;
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.auto-install-loader p {
    color: #fff;
    font-size: 16px;
    letter-spacing: 1px;
    position: absolute;
    text-align: center;
    top: 55%;
    width: 100%;
}

/* Style for install demo content */

.demo_layout_wrap {
    padding-bottom: 30px;
    float: left;
    width: 100%;
}

.demo_layout_wrap .row {
    margin: 0 -10px;
}

.bgframe {
    display: inline-block;
    width: 100%;
    position: relative;
    max-height: 400px;
    overflow: hidden;
}

.img_hover {
    background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    opacity: 0;
    top: 0;
    transition: all 03s;
    cursor: pointer;
    -webkit-transition: all 0.5s;
}

.bgframe:hover .img_hover {
    opacity: 1;
    -webkit-transition: all 0.5s;
}

.img_hover>span {
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 47%;
    vertical-align: middle;
}

.img_hover>span>a {
    padding: 10px;
    text-decoration: none;
    background: #fff;
    z-index: 999;
}

.img_hover>span>a:focus {
    outline: none;
}

.demo_install_button {
    display: inline-block;
    width: 100%;
}

.about-wrap h2.install_demo_title {
    font-size: 22px;
    margin-bottom: 12px;
    margin-top: 15px;
    text-align: left;
}

.demo_install_button .start_install a {
    padding: 10px 20px;
    cursor: pointer;
}

.demo_install_button .start_install a.uninstall_demo {
    background: #e63030;
    color: #fff;
}

.demo_install_button .start_install a:hover {
    opacity: 0.8;
}

.demo_install_button .start_install a.disabled {
    pointer-events: none;
    opacity: 0.4;
}

.the_plugin .plugin_area {
    margin: 10px 0px;
    width: 29.8% !important;
    border: 1px solid rgb(204, 204, 204);
}

.the_plugin .pluin_title {
    border-top: 1px solid rgb(204, 204, 204);
    border-bottom: 1px solid rgb(204, 204, 204);
    font-size: 1.5em;
    padding: 10px 5px;
}

.the_plugin .read_more {
    float: left;
    display: inline-block;
    text-align: left;
    padding: 10px;
}

.the_plugin .btn {
    text-align: right;
    padding: 5px;
}

.about-wrap img.plugin_image {
    width: 100%;
    height: 275px;
}

.supported_plugin_list {
    font-size: 14px;
    width: 400px;
}

.supported_plugin_list .supported_plugin {
    border-bottom: 1px solid #e9e9e9;
    margin-top: 10px;
    padding-bottom: 10px;
    position: relative;
}

.supported_plugin_list .supported_plugin>span {
    position: absolute;
    left: 200px;
    font-size: 13px;
}

.about-wrap .support {
    margin-right: 2% !important;
    background-color: #fff;
    padding: 0px 4px 0px 10px;
    margin-right: 3%;
    min-height: 240px;
}

.read_more.plugin_read_more>a {
    text-decoration: none;
}

#sortable li {
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}

.button.widget-about_us-2-add_field {
    margin-bottom: 10px;
}

.about-wrap .wp-badge {
    height: 90px;
}

.about-wrap.wrap {
    max-width: 1200px;
}

.widefat.cat_in {
    padding-left: 24px;
}

.slide_speed input.tiny-text[type="number"] {
    width: 80px;
}

.thumbnail.column-thumbnail img {
    max-width: 150px;
}


/*auto install*/

.demodiv {
    float: left;
    padding: 10px;
    box-sizing: border-box;
    width: 25%;
}

.start_install {
    float: left;
    margin-top: 30px;
    width: 100%;
}

.section.drag_option {
    position: relative;
}

.shortdivwrap .drag_icon {
    position: absolute;
    top: 0;
}

.vedanta_add_sidebar {
    float: left;
    width: 90%;
}

#vedanta_add_sidebar_form>input {
    margin-bottom: 10px;
    width: 100%;
}

#adminmenu .wp-menu-image img {
    width: 16px;
}

@media screen and (max-width:1199px) {
    .demodiv {
        float: left;
        padding: 10px;
        box-sizing: border-box;
        width: 33.333%;
    }
}

@media screen and (max-width:991px) {
    .demodiv {
        float: left;
        padding: 10px;
        box-sizing: border-box;
        width: 50%;
    }
}