/*============Header===========*/
.home .p-tb-content {
    padding-top: 0;
}    
.home .products-cats-menu .toggle-product-cats {
    display: block;
}
.vertical-megamenu .has-submenu:not(.ved-megamenu-submenu) > .sub-menu {
    left: calc(100% + 1px);
}    

@media screen and (min-width: 1530px){
#header .main-menu .header-row > .col-md-3,#header .header-main .header-logo,#secondary.col-md-3{
    width: 23%;
}
#header .main-menu .header-row > .col-md-9,#header .header-main > .col-md-9,#primary.col-md-9{
    width: 77%;
}
#header .header-main .header-extras{
	width: 52%
}
}
@media screen and (max-width: 1050px){
#mobile_top_menu_wrapper .user-info-wrap {
    background-image: url(../images/user-bg-fashion.jpg);
}
}
@media (min-width: 992px) and (max-width: 1529px){
.elementor .elementor-element#secondary{
    width: 25%;
}
.elementor .elementor-element#primary-cus{
    width: 75%;
}
}

/*==========title==========*/
@media screen and (min-width: 768px){
.sec-head-style h3:before, .wishlist-title h2:before{
    width: 0;
    height: 0;
    border-radius: 0;
    bottom: -8px;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 15px solid transparent;
    background-color: transparent !important;
}
.sec-head-style h3:after, .wishlist-title h2:after {
    display: none;
}
.sec-head-style:before, .wishlist-title:before {
    width: 205px;
}
}
@media (min-width: 768px) and (max-width: 991px){
.sec-head-style h3:before, .wishlist-title h2:before {
    bottom: -6px;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right: 13px solid transparent;
}
}

/*==========Product Effect===============*/
.shop-page.onsale {
    left: -50px;
    right: auto;
}
.shop-item:hover .shop-page.onsale {
    left: 10px;
    right: auto;
}

@media (min-width: 1051px) and (max-width:1529px){
.shop-item-tools a, .button.wishlist .yith-wcwl-add-to-wishlist a.add_to_wishlist {
    line-height: 34px;
    width: 34px;
    height: 34px;
    background-size: 16px;
}   
.shop-item-tools .yith-wcqv-button {
    background-size: 22px;
} 
.shop-item-tools .compare.button {
    background-size: 15px;
}
}
@media screen and (min-width: 1051px){
.shop-item-photo .shop-item-tools{
	display: block;
	left: auto;
	right: 5px;
}
.shop-item-tools a, .shop-item-tools a.add_to_wishlist,.shop-item-tools .yith-wcwl-wishlistexistsbrowse a, .shop-item-tools .yith-wcwl-wishlistaddedbrowse a {    
    display: block;
    margin-bottom: 5px;
} 
.shop-item .shop-item-photo .shop-item-tools > .button, .shop-item .shop-item-photo .shop-item-tools > .action-btn, .shop-item .shop-item-photo .shop-item-tools .yith-wcwl-add-to-wishlist{
	transform: translate(15px,0);
    -moz-transform: translate(15px,0);
    -webkit-transform: translate(15px,0);
    -o-transform: translate(15px,0);
    -ms-transform: translate(15px,0);
}  
.shop-item:hover .shop-item-photo .shop-item-tools > .button, .shop-item:hover .shop-item-photo .shop-item-tools > .action-btn, .shop-item:hover .shop-item-photo .shop-item-tools .yith-wcwl-add-to-wishlist{
	transform: translate(0,0);
    -moz-transform: translate(0,0);
    -webkit-transform: translate(0,0);
    -o-transform: translate(0,0);
    -ms-transform: translate(0,0);
}  
}

/*==========banner-sec==========*/
.sidebar .widget.widget_media_image .widget-content a:after, .banner-col a:after, .menu-item .widget.widget_media_image .widget-content a:after,
.sidebar .widget.widget_media_image .widget-content a:before, .banner-col a:before, .menu-item .widget.widget_media_image .widget-content a:before{
    opacity: .05;
    content: " ";
    height: 0;
    padding: 0;
    position: absolute;
    transition: all 0.8s ease 0s;
    -webkit-transition: all 0.8s ease 0s;
    -moz-transition: all 0.8s ease 0s;
    -ms-transition: all 0.8s ease 0s;
    -o-transition: all 0.8s ease 0s;
    width: 0;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
}
.sidebar .widget.widget_media_image .widget-content a:after, .banner-col a:after, .menu-item .widget.widget_media_image .widget-content a:after {
    right: 0;
    bottom: 0;
    left: auto;
    top: auto;
}
.sidebar .widget.widget_media_image .widget-content a:hover:after, .banner-col:hover a:after, .menu-item .widget.widget_media_image .widget-content a:hover:after,
.sidebar .widget.widget_media_image .widget-content a:hover:before, .banner-col:hover a::before, .menu-item .widget.widget_media_image .widget-content a:hover:before {
    height: 100%;
    width: 100%;
    opacity: .05;    
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
}

/*==========Category Feature==========*/
.ved-woo-cats-slider .category-desc {
    padding: 15px;
    border-top: none;
}
.ved-woo-cats-slider .item div.cat-img {
    border: 1px solid #e2e2e2;
    border-bottom: none;
}

@media screen and (min-width:1530px){
.ved-woo-cats-slider .item .cat-img a {
    height: 150px;
}
}

/*==========service-sec-2==========*/
.service-sec-2 {
    border: 1px solid #e2e2e2;   
}
.service-sec-2 .elementor-row{
	padding: 30px 0;
}
.service-sec-2 .service-box .elementor-image-box-title {
    font-size: 16px;
    margin-bottom: 4px;
}
.service-sec-2 .service-box .elementor-image-box-description {
    font-size: 14px;
}
.service-sec-2 .elementor-row > .elementor-column:not(:last-child):after{
	width: 1px;
	background-color: #e2e2e2;
	height: 90%;
	top: 5%;
	right: 0;
	position: absolute;
	content: '';
}
.service-sec-2 .service-box .elementor-image-box-img {
    width: 50px;    
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.service-sec-2 .service-box .elementor-image-box-content {
    width: auto;
    min-width: 130px;
}
.service-sec-2 .service-box .elementor-image-box-wrapper {
    justify-content: center;
}
.service-sec-2 .service-box:hover .elementor-image-box-img {
    -ms-transform: rotateY(-360deg);
    -webkit-transform: rotateY(-360deg);
    transform: rotateY(-360deg);
}

@media (min-width: 1200px) and (max-width: 1529px){
.service-sec-2 .elementor-widget-image-box.service-box.elementor-vertical-align-middle .elementor-image-box-wrapper{
    display: block;
    text-align: center;
}
.service-sec-2 .service-box .elementor-image-box-title {
    font-size: 15px;
}
.service-sec-2 .elementor-widget-image-box.service-box .elementor-image-box-img {
    margin: 0 auto 10px !important;
}
}
@media screen and (max-width:1199px){
.service-sec-2 .elementor-row {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin:0;
}
.service-sec-2 .elementor-row > .elementor-element {
    width: auto;
    min-width: 290px;    
}
.service-sec-2 .elementor-row::-webkit-scrollbar{
    display:none
}
}
@media screen and (max-width: 767px){
.service-sec-2 .elementor-row {
    padding: 20px 0;
}
}

/*==========blog==========*/
body .ved-post-item .ved-post-preview .ved-post-thumbnail:after {
    background: #fff;
    height: 100%;
}
.ved-post-item .ved-post-preview .meta_date {
    top: 0;
    left: 0;
    padding: 5px 13px;
}
.ved-post-item .ved-post-preview .meta_date .day_date {
    font-size: 18px;
    margin-right: 5px;
}
.ved-post-item .ved-post-preview .meta_date span {
    display: inline-block;
}  
.ved-post-item .ved-post-preview .blogicons a.icon {
    box-shadow: 0 0 7px 3px rgba(0,0,0,.1);
    -o-box-shadow: 0 0 7px 3px rgba(0,0,0,.1);
    -webkit-box-shadow: 0 0 7px 3px rgba(0,0,0,.1);
    -moz-box-shadow: 0 0 7px 3px rgba(0,0,0,.1);
}  

/*==========manufacture==========*/
.content-manufacturer > .elementor-widget-container {
    margin-left: -15px;
    margin-right: -15px;
}

/*==========widget Mailchimp============*/
.widget_mailchimp .title-sec .icon {
	background-position: center -85px;
}

/*==========footer==========*/
.footer .social-icons > li > a{
	background-color: #ddd;
    font-size: 17px;	
    color: #222
}
.footer .social-icons {
    margin: 0 auto;
    display: table;
    z-index: 2;
    position: relative;
    padding: 0 10px;    
}
.before-footer .social_links:before{
	content: '';
	position: absolute;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	left: 0;
	background-color: #ddd;
	height: 1px;
    z-index: 0;
}

@media screen and (min-width: 1051px){
.scroll-top:hover{
    box-shadow: 0 0 0px 50px rgba(0,0,0,.1);	
}
}
@media (min-width: 1340px) and (max-width: 1529px){
.footer-center .contact_info ~ .widget_media_image img {
    width: 100px;
}
}
@media screen and (max-width: 991px){
.dddemo3.home #primary:not(.full-width){
	margin-bottom: 0
}
}