/*-----------------------------------------------------------------
[Header Media Styles]
*/
@media (max-width: 991px) {
    .inner-brand .normal-logo {
            width: 100px;
    }
    .inner-nav > li > a {
            position: relative;
            padding: 10px 0;
    }
    .sub-menu li a {
            background: #fff;
    }
    .sub-menu li a:hover {
            background: #fff;
    }
    .sub-menu li > a:hover, 
    .sub-menu li > a:focus, 
    .sub-menu li.submenu-open > a {
            color: #222 !important;
    }
    .has-submenu.submenu-open > a::after {
            content: "\f107";
    }
    .module-header {
        margin: 0 0 35px;
    }
	.elementor-section-wrap > .page-padding-zero.elementor-section {
		padding: 0px 0px 0px 0px !important;
	}
	.variations tr {
		width: 100%;
		float: left;
		margin-bottom: 10px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
    .hero-text h1 {
        font-size: 30px !important;
        line-height: 40px !important;
    }
    .hero-text p {
        font-size: 16px !important;
        line-height: 24px !important;
    }
    .hero-text .btn-lg {
        padding: 9px 19px 9px;
        font-size: 11px;
    }
    .elementor-section-wrap > .elementor-section {
        padding: 70px 0px 70px 0px !important;
    }
    .elementor-229 .elementor-element.elementor-element-006c0e0,
    .elementor-229 .elementor-element.elementor-element-e8f55eb,
    .elementor-668 .elementor-element.elementor-element-a4708e5,
    .elementor-662 .elementor-element.elementor-element-1603ebf9,
    .elementor-662 .elementor-element.elementor-element-5715923d,
    .elementor-743 .elementor-element.elementor-element-3675fcc1,
    .elementor-714 .elementor-element.elementor-element-62ceda47,
    .elementor-797 .elementor-element.elementor-element-29a5f8ee,
    .elementor-295 .elementor-element.elementor-element-7ad03f8,
    .elementor-295 .elementor-element.elementor-element-9afd09d
    {
        padding: 70px 0px 0px 0px !important;
    }
    .elementor-229 .elementor-element.elementor-element-d4518e3,
    .elementor-633 .elementor-element.elementor-element-370d17c4,
    .elementor-633 .elementor-element.elementor-element-23b1b68d,
    .elementor-633 .elementor-element.elementor-element-3300c7e1,
    .elementor-637 .elementor-element.elementor-element-4c88a12,
    .elementor-762 .elementor-element.elementor-element-a1817ad,
    .elementor-745 .elementor-element.elementor-element-3494886,
    .elementor-652 .elementor-element.elementor-element-207b5b3,
    .elementor-743 .elementor-element.elementor-element-383b1676,
    .elementor-714 .elementor-element.elementor-element-55f100da,
    .elementor-714 .elementor-element.elementor-element-3c9ccc70,
    .elementor-797 .elementor-element.elementor-element-3e097549,
    .elementor-797 .elementor-element.elementor-element-1e0ddb8e,
    .elementor-295 .elementor-element.elementor-element-6601130,
   	.elementor-314 .elementor-element.elementor-element-1c8b33c,
   	.elementor-314 .elementor-element.elementor-element-7acc889,
   	.elementor-319 .elementor-element.elementor-element-3ac0,
   	.elementor-319 .elementor-element.elementor-element-e647d1d
    {
        padding: 0px 0px 0px 0px !important;
    }
    .elementor-widget-icon-box .elementor-widget-container {
        padding: 35px 0px 35px 0px !important;
    }
    .elementor-615 .elementor-widget-icon-box .elementor-widget-container,
    .elementor-637 .elementor-widget-icon-box .elementor-widget-container,
    .elementor-603 .elementor-widget-icon-box .elementor-widget-container,
    .elementor-662 .elementor-widget-icon-box .elementor-widget-container,
    .elementor-743 .elementor-widget-icon-box .elementor-widget-container,
    .elementor-714 .elementor-widget-icon-box .elementor-widget-container,
    .elementor-797 .elementor-widget-icon-box .elementor-widget-container,
    .elementor-295 .elementor-widget-icon-box .elementor-widget-container,
    .elementor-301 .elementor-widget-icon-box .elementor-widget-container
    {
         padding: 0px 0px 0px 0px !important;
    }
    .elementor-319 .elementor-widget-icon-box .elementor-widget-container
    {
         padding: 0px 0px 35px 0px !important;
    }
    .elementor-section-wrap > .elementor-section.home-client-slider {
        padding: 35px 0px 35px 0px !important;
    }
    .ved-pricing.style-2 .ved-pricing-item .ved-pricing-header .title {
		font-size: 18px;
	}
    .ved-testimonial-content {
		padding: 10px 20px 10px;
	}
	.p-tb-content {
		padding: 70px 0px !important;
	}
	.page-id-319 .p-tb-content {
		padding: 70px 0px 0px !important;
	}
	.orderby-order-container.col-sm-4 {
		width: 50%;
	}
	.catalog-ordering .col-sm-offset-5 {
		    margin-left: 20%;
	}
	.catalog-ordering .col-sm-3 {
		width: 30%;
	}
    .cart-table .col-quantity .input-text {
        width: 30%;
    }
}

@media (min-width: 992px) and (max-width: 1024px) {
    .elementor-637 .elementor-element.elementor-element-1a68e654,
    .elementor-637 .elementor-element.elementor-element-5f31f919,
    .elementor-603 .elementor-element.elementor-element-118d79a,
    .elementor-603 .elementor-element.elementor-element-15e6080
    {
        padding: 70px 0px 70px 0px !important;
    }
    .elementor-743 .elementor-element.elementor-element-3675fcc1 {
    	padding: 70px 0px 0px 0px !important;
    }
    .elementor-743 .elementor-element.elementor-element-4d83d00d {
    	padding: 0px 0px 70px 0px !important;
    }
    .elementor-743 .elementor-widget-icon-box .elementor-widget-container
    {
         padding: 35px 0px 0px 0px !important;
    }
    .elementor-637 .elementor-widget-icon-box .elementor-widget-container,
    .elementor-603 .elementor-widget-icon-box .elementor-widget-container,
    .elementor-662 .elementor-widget-icon-box .elementor-widget-container
    {
        padding: 0px 0px 0px 0px !important;
    }
    .elementor-319 .elementor-widget-icon-box .elementor-widget-container
    {
         padding: 0px 0px 35px 0px !important;
    }
    .elementor-section-wrap > .elementor-section.home-client-slider {
        padding: 35px 0px 35px 0px !important;
    }
    .page-padding-zero .elementor-widget-icon-box .elementor-widget-container {
		padding: 35px 0px 35px 0px !important;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
	.orderby-order-container.col-sm-4 {
		width: 50%;
	}
	.catalog-ordering .col-sm-offset-5 {
		    margin-left: 20%;
	}
	.catalog-ordering .col-sm-3 {
		width: 30%;
	}
}

@media (max-width: 767px) {
    .hero-text h1 {
        font-size: 14px !important;
        line-height: 22px !important;
        padding-top: 50px;
    }
    .hero-text p {
        font-size: 14px !important;
        line-height: 20px !important;
    }
    .hero-text .m-t-50 {
            margin-top: 30px !important;
    }
    .hero-text .btn-lg {
        padding: 8px 18px 8px;
        font-size: 10px;
        margin-bottom: 10px;
    }
    .elementor-section-wrap > .elementor-section {
        padding: 35px 0px 35px 0px !important;
    }
    .elementor-229 .elementor-element.elementor-element-006c0e0,
    .elementor-229 .elementor-element.elementor-element-e8f55eb,
    .elementor-237 .elementor-element.elementor-element-23b90b44,
    .elementor-662 .elementor-element.elementor-element-1603ebf9,
    .elementor-743 .elementor-element.elementor-element-3675fcc1,
    .elementor-714 .elementor-element.elementor-element-62ceda47,
    .elementor-797 .elementor-element.elementor-element-29a5f8ee,
    .elementor-295 .elementor-element.elementor-element-7ad03f8,
    .elementor-662 .elementor-element.elementor-element-964c5e0 > .elementor-widget-container	
    {
        padding: 35px 0px 0px 0px !important;
    }
    .elementor-229 .elementor-element.elementor-element-d4518e3,
    .elementor-633 .elementor-element.elementor-element-370d17c4,
    .elementor-633 .elementor-element.elementor-element-23b1b68d,
    .elementor-633 .elementor-element.elementor-element-3300c7e1,
    .elementor-652 .elementor-element.elementor-element-207b5b3,
    .elementor-743 .elementor-element.elementor-element-383b1676,
    .elementor-743 .elementor-element.elementor-element-4d83d00d,
    .elementor-714 .elementor-element.elementor-element-3c9ccc70,
   	.elementor-714 .elementor-element.elementor-element-73b4373c,
   	.elementor-797 .elementor-element.elementor-element-3e097549,
   	.elementor-295 .elementor-element.elementor-element-6601130,
   	.elementor-314 .elementor-element.elementor-element-1c8b33c,
   	.elementor-314 .elementor-element.elementor-element-7acc889,
   	.elementor-319 .elementor-element.elementor-element-3ac0,
    .elementor-668 .elementor-element > .elementor-element-populated
    {
        padding: 0px 0px 0px 0px !important;
    }
    .elementor-widget-icon-box .elementor-widget-container, 
    .elementor-widget-ved-recent-work .elementor-widget-container 
    {
        padding: 0px 0px 0px 0px !important;
    }
    .elementor-637 .elementor-element.elementor-element-4c88a12,
    .elementor-637 .elementor-element.elementor-element-1a68e654,
    .elementor-637 .elementor-element.elementor-element-79ab7eb7,
    .elementor-668 .elementor-element.elementor-element-53f398bc,
    .elementor-668 .elementor-element.elementor-element-5771d564
    {
		padding: 0 15px !important;
    }
    .elementor-668 .elementor-element.elementor-element-5771d564 {
        padding-bottom: 35px !important;
    }
    .elementor-section-wrap > .elementor-section.home-client-slider {
        padding: 0px 0px 0px 0px !important;
    }
    .ved-tabs-nav li.active, 
    .ved-tabs-nav li.active-default {
		border: none;
    }
    .newslatter-form .btn-lg {
        padding: 8px 18px 8px;
        font-size: 10px;
    }
    .newslatter-form .input-lg {
		height: 33px;
		font-size: 10px;
    }
    .elementor-social-icon,
    .elementor-social-icons-wrapper .elementor-social-icon:last-child {
        margin-bottom: 14px;
    }
    .ved-testimonial-content {
		padding: 10px 20px 10px;
	}
	.p-tb-content {
		padding: 35px 0px !important;
	}
	.page-id-319 .p-tb-content {
		padding: 35px 0px 0px !important;
	}
	.ved-tabs-vertical .ved-tabs-nav li {
		border-right: 0 !important;
	}
	.ved-tabs-vertical .ved-tabs-nav + .ved-tabs-content .ved-tab-pane {
		border-left: 1px solid #eee !important;
	}
    .cart-table .col-quantity .input-text {
        width: 100%;
    }
    .cart-table .size-woocommerce_thumbnail {
        max-width: 90px;
        height: 90px;
    }
    .woocommerce .woocommerce-MyAccount-navigation {
        width: 100%;
    }
    .woocommerce .woocommerce-MyAccount-content {
        width: 100%;
    }
}