/*
Flaticon icon font: Flaticon
Creation date: 28/02/2019 03:57
*/

@font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.eot");
    src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
	url("../fonts/Flaticon.woff2") format("woff2"),
	url("../fonts/Flaticon.woff") format("woff"),
	url("../fonts/Flaticon.ttf") format("truetype"),
	url("../fonts/Flaticon.svg#Flaticon") format("svg");
    font-weight: normal;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
	font-family: "Flaticon";
	src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
    }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
    font-family: Flaticon;
    font-style: normal;
}

.flaticon-search:before { content: "\f100"; }
.flaticon-user:before { content: "\f101"; }
.flaticon-paper-bag:before { content: "\f102"; }
.flaticon-menu:before { content: "\f103"; }
.flaticon-startup:before { content: "\f104"; }
.flaticon-hand:before { content: "\f105"; }
.flaticon-award:before { content: "\f106"; }
.flaticon-bargain:before { content: "\f107"; }
.flaticon-heart:before { content: "\f108"; }