/*
 * jQuery FlexSlider v2.6.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 and later license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 *
 */

/* ====================================================================================================================
 * RESETS
 * ====================================================================================================================*/

.flex-slider a:hover,
.flex-container a:hover {
	outline: none;
}

.slides,
.slides > li,
.flex-control-nav,
.flex-direction-nav {
	margin: 0;
	padding: 0;
	list-style: none;
}

.flex-pauseplay span {
	text-transform: capitalize;
}

/* ====================================================================================================================
 * BASE STYLES
 * ====================================================================================================================*/
.flexslider {
	margin: 0;
	padding: 0;
}
.flexslider .slides > li {
	display: none;
	-webkit-backface-visibility: hidden;
}
.flexslider .slides img {
	width: 100%;
	display: block;
}
html[xmlns] .flexslider .slides {
	display: block;
}
* html .flexslider .slides {
	height: 1%;
}
.no-js .flexslider .slides > li:first-child {
	display: block;
}
/* ====================================================================================================================
 * DEFAULT THEME
 * ====================================================================================================================*/

.flexslider {
	position: relative;
	height: 70vh;
	margin: 0;
}

.flexslider .slides {
	height: 100% !important;
	-webkit-transition-delay: 1s;
	   -moz-transition-delay: 1s;
		    transition-delay: 1s;
}

.flexslider .slides li {
	background-position: center center;
	background-repeat: no-repeat;
	height: 100% !important;
	width: 100%;
	padding: 0;
	margin: 0;
	-webkit-background-size: cover;
	   -moz-background-size: cover;
		 -o-background-size: cover;
			background-size: cover;
}

.flex-control-nav {
	position: absolute;
	bottom: 20px;
	width: 100%;
	text-align: center;
	z-index: 10;
}

.flex-control-nav > li {
	display: inline-block;
	position: relative;
}